package controller

import (
	"github.com/buaazp/fasthttprouter"
)

// AddRouteing add routing path from go generate ready
func AddRouting(router *fasthttprouter.Router) {
{{range .}}
	router.GET("/{{ .Name }}", {{ .CapitalName }}GetHandler)
	router.POST("/{{ .Name }}", {{ .CapitalName }}PostHandler)
	router.PUT("/{{ .Name }}", {{ .CapitalName }}PutHandler)
	router.DELETE("/{{ .Name }}", {{ .CapitalName }}DeleteHandler)
	router.HEAD("/{{ .Name }}", {{ .CapitalName }}HeadHandler)
{{end}}
}
